@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

.container-e {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  gap: 0;
}

.background-image-e {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.background-image-e img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.content-e {
  position: relative;
  z-index: 1;
  text-align: left;
  gap: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-left: 10px;
}

.content-e h1 {
  font-size: 69px;
  font-weight: 500;
  margin-bottom: 0;
  font-family: Alegreya;
  font-style: italic;
  color: rgba(144, 0, 105, 1);
  gap: 0;
  
  
}

.content-e p {
  font-size: 25px;
  line-height: 30px;
  font-family: Alice;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.button {
  background-color: rgba(144, 0, 105, 1);
  color: white;
  padding: 10px 20px;
  font-size: 22.23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Mobile view styles */
@media only screen and (max-width: 768px) {
  .container-e {
    height: 800px;
    width: 900px;
    overflow: hidden;
    object-fit: fill;
    margin-left: -50px;
    
  }

  .background-image-e {
    height: 100%;
    width: 900px;
    object-fit: cover;
  }

  .background-image-e img {
    width: 900px;
    height: 100%;
    object-fit: cover;
    transform: rotate(90deg);
  
  }

  .content-e {
    flex-direction: column;
    height: auto;
    
  }

  .content-e h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: rgba(255,188,207,255);
    text-align: center;
  }

  .content-e p {
    width: 422px;
    font-size: 18px;
    margin-left: 50px;
    text-align: center;
    background-color: rgba(255,188,207,255);
   
  }

  .button {
    font-size: 18px;
    padding: 10px 15px;
    margin-left: 200px;
  }
}


/*navbar*/
.navbar {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 200px;
  height: 62.07px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-bar input[type="search"] {
  padding: 10px;
  border: rgba(182, 182, 182, 1);
  border-radius: 5px;
  width: 500px;
  margin-left: 350px;
}

.search-bar button[type="submit"] {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(144, 0, 105, 1);
  padding: 10px 20px;
  border-radius: 1px;
  cursor: pointer;
  border: #900069;
  align-items: center;
}

.search-bar button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 1);
}

.right-side {
  display: flex;
  align-items: right;
}

.icons {
  display: flex;
  align-items: right;
  margin-left: 300px;
}

.icons i {
  font-size: 30px;
  color: rgba(144, 0, 105, 1);
  margin-right: 25px;
  align-items: right;
}

.icons i:last-child {
  margin-right: 0;
}

/* Mobile view styles */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .logo {
    margin-right: 0;
  }

  .logo img {
    width: 130px;
    height: 50px;
  }

  .search-bar {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-left: 50px;
  }

  .search-bar input[type="search"] {
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }

  .search-bar button[type="submit"] {
    width: 100%;
    padding: 10px;
  }

  .right-side {
    flex-direction: row;
    align-items: right;
  }

  .icons {
    margin-left: 100px;
    flex-direction: row;
  }

  .icons i {
    font-size: 20px;
    margin-right: 10px;
  }
}

/*head footer*/
.headfooter-container {
  position: relative;
  width: 100%;
  background-color: rgba(182, 182, 182, 0.2);
  padding-left: 90px;
  padding-right: 90px;
  height: 104px;
}

.headfooternav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

/* Add media query for mobile view */
@media only screen and (max-width: 768px) {
  .headfooter-container { 
    margin-bottom: 0;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }
  .headfooternav {
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }
  .headfooternav li {
    margin-bottom: 10px;
  }
  .headfooternav li:last-child {
    margin-bottom: 0;
  }
}

/*do*/
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-4 {
  width: 33.33%;
  padding: 10px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.card-img-top-2 {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: inline-block;

}

.hover-effect-zoom-out {
  transition: transform 0.3s; /* Add a transition effect */
}

.hover-effect-zoom-out:hover {
  transform: scale(1.1); /* Zoom in on hover */
}
.card-body {
  padding: 20px;
  height: 62px;
}

.card-title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: Alegreya;
  text-align: center;
}

.btn {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border: none;
  padding: 8.58px, 20.02px, 8.58px, 20.02px;
  font-size: 13px;
  cursor: pointer;
}

.btn:hover {
  background-color: #23527c;
}

.mt-5 {
  margin-top: 50px;
  font-family: Alegreya;
  font-weight: 500;
  font-size: 55px;
  line-height: 70px;
}

.mt-3 {
  margin-top: 30px;
}

.card-img-top-2-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  pointer-events: none;
}

.discount-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(184, 10, 137, 1);
  color: #FFFFFF; /* White text */
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1; /* Ensure the tag is on top of the image */
}

/* Mobile view styles */
@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-4 {
    width: 100%;
  }
  .card {
    margin-bottom: 20px;
  }

  .mt-5{
    text-align: center;
  }
}
/*how it works*/

.How-cont {
  display: flex;
  background-color: rgba(255, 229, 237, 0.61);
  max-width: 1920px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.How-cont h2 {
font-family: Alegreya;
font-size: 60px;
font-weight: 500;
color: rgba(184, 10, 137, 1);
margin-left: 200px;

}
.gift-wrap-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto;
  max-width: 1100px;
}

.gift-wrap-option {
  flex: 0 0 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.gift-wrap-option:hover {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gift-wrap-image {
  width: 100%;
  height: 181.79px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.gift-wrap-text {
  padding: 20px;
  
}

.gift-wrap-text h2 {
  margin-top: 0;
  font-size: 32.95px;
  font-weight: 800;
  color: rgba(184, 10, 137, 1);
  margin-left: 20px;
}

.gift-wrap-text p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20.45px;
  color:rgba(62, 62, 62, 1);
}

/* Mobile view styles */
@media only screen and (max-width: 768px) {
  .How-cont {
    margin-top: 0px;
     padding: 1rem;
     max-width: 100%;
   }
 
  .How-cont h2 {
     font-size: 40px;
     margin-left: 10px;
     text-align: center;
   }
 
  .gift-wrap-selection {
     flex-wrap: nowrap;
     flex-direction: column;
     margin: 20px auto;
     max-width: 100%;
   }
 
  .gift-wrap-option {
     flex: 0 0 100%;
     margin: 10px;
     padding: 10px;
   }
 
  .gift-wrap-image {
     height: 200px;
   }
 
  .gift-wrap-text {
     padding: 10px;
   }
 
  .gift-wrap-text h2 {
     font-size: 24px;
     margin-left: 10px;
   }
 
  .gift-wrap-text p {
     font-size: 16px;
   }
 }
/*giftgrap*/
.container-g {
  display: flex;
  flex-direction: column;
  width: 1595px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  margin-left: 5px;
  margin-bottom: 2rem;
  font-family: Alegreya;
  font-size: 60px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  margin: 0 auto;
  
}

.item {
  text-align: left;
}

.item img {
  width: 460px;
  height: 500px;
}

.item p {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  color: rgba(86, 86, 86, 1);
}

.item h2 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.shop-more {
  display: block;
  margin: 2rem auto;
  color: rgba(184, 10, 137, 1);
  
  border-radius: 5px;
  cursor: pointer;
  font-family: Alegreya;
  font-size: 30.17px;
}

/* Mobile view styles */

@media only screen and (max-width: 768px) {
  .container-g {
    width: 100%;
    padding: 1rem;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .item {
    margin-bottom: 2rem;
  }

  .item img {
    width: 100%;
    height: 400px;
  }

  .item p {
    font-size: 18px;
  }

  .item h2 {
    font-size: 20px;
  }

  .shop-more {
    font-size: 20px;
    padding: 0.5rem 1rem;
  }
}



/*imagegrid*/
.cont{
  display: flex;
  max-width: 1892px;
  max-height: 899px;
  align-items: center;
}
.image-grid-i {
  display: grid;
  grid-template-areas:
    "birthday flowers corporate"
    "weddings flowers anniversary";
  grid-gap: 10px;
  margin-left: 165px;
  align-items: center;
}

.image-grid-i img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-i img:nth-child(1) {
  grid-area: birthday;
}

.image-grid-i img:nth-child(2) {
  grid-area: flowers;
}

.image-grid-i img:nth-child(3) {
  grid-area: corporate;
}

.image-grid-i img:nth-child(4) {
  grid-area: weddings;
}

.image-grid-i img:nth-child(5) {
  grid-area: anniversary;
}

@media only screen and (max-width: 768px) {
 .image-grid-i {
    grid-template-areas:
      "birthday corporate"
      "flowers flowers"
      "weddings anniversary"
      ;
    grid-gap: 10px;
    margin-left: 0; /* remove margin-left for mobile view */
  }
  
 .image-grid-i img {
    width: 100%;
    height: 180px; /* adjust height for mobile view */
    object-fit: cover;
  }

  .image-grid-i img:nth-child(2) {
    grid-area: flowers;
    height: 600px;
  }
}


/*Newsletter*/
.container {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  min-height: 378px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-item {
  text-align: center;
  padding: 20px;
}

.header-item img {
  width: 115px;
  height: 111px;
  margin-bottom: 10px;
}

.header-item h3 {
  color: #333;
  margin-bottom: 10px;
}

.header-item p {
  color: #666;
}

/* Mobile styles (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .container {
     min-height: 250px;
   }
 
  .header {
     flex-direction: column; 
     padding: 10px; 
   }
 
  .header-content {
     flex-direction: column; 
   }
 
  .header-item {
     padding: 7px; 
    text-align: left;
   }
 
  .header-item img {
     width: 100px; 
     height: 100px;
   }
 
  .header-item h3 {
     font-size: 18px; 
   }
 
  .header-item p {
     font-size: 16px; 
   }
 }
/*gallery*/
.container-ggg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 223, 142, 1);
}

.newsletter-sectiong {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  
}

.left-side {
  width: 700px;
  padding: 20px;
  
}
 
.left-side h2{
  font-family: Alegreya;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  align-items: center;
  color: rgba(173, 90, 41, 1);
}
.right-side {
  width: 800px;
  padding: 20px;

}

.right-side form {
  display: flex;
  flex-direction: column;
  align-items: end;
  
}

.right-side input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 500px;
}

.right-side button{
 align-items: right;
width: 85px;
height: 30px;
left: 1755px;
top: 100px;
padding: 11.11px, 25.93px, 11.11px, 25.93px;
}


.right-side button[type="submit"] {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  float: right;
}

.right-side button[type="submit"]:hover {
  background-color: #3e8e41;
}


.vertical-separator {
  border-left: 3px solid rgba(173, 90, 41, 1); 
  margin: 0px 20px; 
}

.transparent-image{
  width: 129.05px;
  height: 229.28px;
  top: 103px;
}

.transparent-image-g{
  width: 230px;
  height: 130.76px;
  margin-left: 500px;
  margin-bottom: -50px;
}
/* Mobile view */
@media only screen and (max-width: 768px) {
  .container-ggg {
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin-top: -120px;
  }

  .newsletter-sectiong {
    flex-direction: column;
    align-items: center;
  }

  .left-side {
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .left-side h2{
    font-size: 36px;
    
  }

  .right-side {
    width: 100%;
    padding: 10px;
    position: relative;
  }

  .right-side form {
    align-items: center;
  }

  .right-side input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .right-side button{
    width: 100%;
    height: 40px;
    padding: 10px;
    
  }

  .vertical-separator {
    display: none;
  }

  .transparent-image {
    position: relative;
    top: 250px;
    right: -150px;
    width: 129px;
    height: 134px;
  }

  .transparent-image-g{
   display: none;
  }
}


/*horizontal gallery*/
.horizontal-gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  margin-bottom: 0;
}

.horizontal-gallery img {
  width: 250px; /* adjust the width as needed */
  height: 320px; /* adjust the height as needed */
  margin: 2px; /* add margin between images */
  border-radius: 10px; /* add a border radius if desired */
}

/*footer*/
.footer {
  color:rgba(19, 19, 19, 1);
  max-width: 1920px;
  max-height: 619px;
}

.footer .container {
  background-color: rgba(19, 19, 19, 1);
  max-width: 19200px;
  margin: 0 auto;
  max-height: 619px;
  color: rgba(19, 19, 19, 1);
}

.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .col-md-4 {
  width: 33.33%;
  
}

.footer .logo {
  margin-bottom: 5px;
  margin-left: 100px;
  
}

.footer .logo img {
  width: 131px;
  height: 87.33px;
}

.footer p{
  font-family: Poppins;
  font-weight: 400;
  font-size: 21px;
  color: rgba(213, 213, 213, 1);
  margin-left: 100px;
  margin-bottom: 0;
}

.footer .social-media {
  display: none;
}



.footer .payment-methods {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  margin-top: 0;
}

.footer .payment-methods li {
  margin-right: 10px;
  margin-top: 5px;
}

.footer .payment-methods li img {
  max-width: 46.18px;
  height: 29px;
}

.footer .footer-heading-c {
  color: rgba(255, 255, 255, 1);
  font-family: Alegreya;
  font-style: italic;
  font-size: 23px;
  margin-bottom: 20px;
  margin-left: 200px;
  text-decoration: underline;
}

.footer .footer-heading-i {
  color: rgba(255, 255, 255, 1);
  font-family: Alegreya;
  font-style: italic;
  font-size: 23px;
  margin-bottom: 20px;
  margin-left: 200px;
  text-decoration: underline;
}

.footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 200px;
}

.footer .footer-links li {
  margin-bottom: 10px;
}

.footer .footer-links li a {
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer .footer-links li a:hover {
  color: #f05089;
}

.footer .copyright {
  background-color: rgba(19, 19, 19, 1);
  border-top: 2px solid rgba(86, 86, 86, 1);
  margin-bottom: 0px;
  text-align: center;
}

.footer .copyright p {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  align-items: center;
  margin-left: 525px;
}



/* Mobile view styles */
@media (max-width: 768px) {
  .footer{
    flex-direction: column;
    overflow: hidden;
    
    
  }

  
  .footer .row {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(19, 19, 19, 1);
    flex-direction: column;
    
    
  }

  .footer .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
    flex: 1;
    
  }

  .footer .logo {
    margin-left: 20px;
    margin-top: -20px;
  }

  .footer .logo img {
    width: 80px;
    height: 53.33px;
    
  }

  .footer p {
    font-size: 16px;
    margin-left: 20px;
  }


  .footer .payment-methods {
    margin-left: 20px;
    margin-bottom: -10px;
  }

  .footer .footer-heading-c {
    margin-left: 20px;
   margin-bottom: 0;
    align-items: center;
    margin-top: -20px;
  }

  .footer .footer-heading-i {
    margin-left: 20px;
    margin-top: 0;
    align-items: center;
    margin-top: -30px;
  }

  .footer .footer-links {
    margin-left: 20px;
    
  }

  .footer .copyright p {
    margin-left: 20px;
    font-size: 10px;
  }

  .footer .copyright {
    background-color: rgba(19, 19, 19, 1);
   
    
  }
}
